/* background from (https://codepen.io/mohaiman/pen/MQqMyo) */
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

.area{
    background: #ff8585;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    animation: animate 15s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.header-container {
    position: absolute;
    top: 7%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.header {
    padding: 5px;
    border-radius: 10px;
    color: rgb(28, 138, 28);
    background-color: rgb(169, 255, 148);
    width: 100%;
}

.money-display-container {
    position: absolute;
    display: flex;
    gap: 6px;
    top: 16%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 5px;
    border-radius: 10px;
    color: rgb(28, 138, 28);
    background-color: rgb(227, 255, 103);
}

.money-text {
    font-size: 175%;
    color: rgb(134, 134, 0);
    margin: 0px;
}

.bet-container {
    position: absolute;
    top: 33%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.bet-1 {
    position: relative;
    background-image: url(images/coin_1.png);
    height: 64px;
    width: 64px;
    border-radius: 50px;
    border: 2px solid rgb(95, 95, 0);
}

.bet-1:active {
    top: 2px;
    left: 1px;
    box-shadow: none;
}

.bet-2 {
    position: relative;
    background-image: url(images/coin_2.png);
    height: 64px;
    width: 64px;
    border-radius: 50px;
    border: 2px solid rgb(95, 95, 0);
}

.bet-2:active {
    top: 2px;
    left: 1px;
    box-shadow: none;
}

.bet-3 {
    position: relative;
    background-image: url(images/coin_3.png);
    height: 64px;
    width: 64px;
    border-radius: 50px;
    border: 2px solid rgb(95, 95, 0);
}

.bet-3:active {
    top: 2px;
    left: 1px;
    box-shadow: none;
}

.set-bet-container {
    position: absolute;
    display: flex;
    gap: 3px;
    top: 24%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 5px;
    border-radius: 10px;
    background-color: #7ad9ff;
}

.set-bet-text {
    font-size: 150%;
    color: rgb(10, 0, 143);
    margin: 0px;
}

.play-button-container {
    position: absolute;
    top: 47%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* neon text glow from (https://codepen.io/ananyaneogi/pen/Bgozrz) */
.play-button {
    width: 200px;
    height: 90px;
    padding: 15px 25px;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #ffffff;
    text-shadow: 0 0 5px #cecece, 0 0 15px #cecece, 0 0 20px #cecece, 0 0 40px #cecece, 0 0 60px #cecece, 0 0 10px #cecece, 0 0 98px #cecece;
    background-color: #04aa2e;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #0a7213;
}

.play-button:active {
    background-color: #049628;
    box-shadow: 0 5px #07550e;
    transform: translateY(4px);
    color: rgb(179, 179, 179);
    text-shadow:
    0 0 0px rgb(179, 179, 179),
    0 0 0px rgb(179, 179, 179),
    0 0 0px rgb(179, 179, 179),
    0 0 0px rgb(179, 179, 179),
    0 0 0px rgb(179, 179, 179),
    0 0 0px rgb(179, 179, 179),
    0 0 0px rgb(179, 179, 179),
    0 0 0px rgb(179, 179, 179);
}

/* neon glow from (https://codepen.io/silvia-odwyer/pen/RwKMOpb) */
.slot-machine-container {
    display: flex;
    position: absolute;
    background-color: rgb(248, 161, 161);
    top: 77%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 800px;
    height: 300px;
    border: 10px solid rgb(255, 42, 42);
    border-radius: 4rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem rgb(255, 42, 42),
              0 0 .2rem rgb(255, 42, 42),
              0 0 2rem rgb(255, 42, 42),
              0 0 0.8rem rgb(255, 42, 42),
              0 0 2.8rem rgb(255, 42, 42),
              inset 0 0 2rem rgb(255, 42, 42); 
}

.slot-1 {
    position: absolute;
    background-color: rgb(255, 255, 255);
    background-image: url(images/apple.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 45%;
    left: 20%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 6px solid rgb(0, 0, 0);
    border-radius: 1rem;
    width: 130px;
    height: 130px;
}

.slot-2 {
    position: absolute;
    background-color: rgb(255, 255, 255);
    background-image: url(images/apple.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 45%;
    left: 40%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 6px solid rgb(0, 0, 0);
    border-radius: 1rem;
    width: 130px;
    height: 130px;
}

.slot-3 {
    position: absolute;
    background-color: rgb(255, 255, 255);
    background-image: url(images/apple.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 45%;
    left: 60%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 6px solid rgb(0, 0, 0);
    border-radius: 1rem;
    width: 130px;
    height: 130px;
}

.slot-4 {
    position: absolute;
    background-color: rgb(255, 255, 255);
    background-image: url(images/apple.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 45%;
    left: 80%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 6px solid rgb(0, 0, 0);
    border-radius: 1rem;
    width: 130px;
    height: 130px;
}

.lock-slot-1 {
    background-image: url(images/unlocked.png);
    background-color: transparent;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    top: 80%;
    left: 21%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0;
    border: none;
    width: 50px;
    height: 50px;
}

.lock-slot-2 {
    background-image: url(images/unlocked.png);
    background-color: transparent;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    top: 80%;
    left: 41%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0;
    border: none;
    width: 50px;
    height: 50px;
}

.lock-slot-3 {
    background-image: url(images/unlocked.png);
    background-color: transparent;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    top: 80%;
    left: 61%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0;
    border: none;
    width: 50px;
    height: 50px;
}

.lock-slot-4 {
    background-image: url(images/unlocked.png);
    background-color: transparent;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    top: 80%;
    left: 81%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0;
    cursor: pointer;
    border: none;
    width: 50px;
    height: 50px;
}

.apple-combo-container {
    position: absolute;
    display: flex;
    top: 29%;
    left: 80%;
}

.apple {
    width: 40px;
    height: 40px;
}

.apple-combo-text {
    font-size: 175%;
}

.pear-combo-container {
    position: absolute;
    display: flex;
    top: 11%;
    left: 80%;
}

.pear {
    width: 40px;
    height: 40px;
}

.pear-combo-text {
    font-size: 175%;
}

.cherry-combo-container {
    position: absolute;
    display: flex;
    top: 5%;
    left: 80%;
}

.cherry {
    width: 40px;
    height: 40px;
}

.cherry-combo-text {
    font-size: 175%;
}

.watermelon-combo-container {
    position: absolute;
    display: flex;
    top: 17%;
    left: 80%;
}

.watermelon {
    width: 40px;
    height: 40px;
}

.watermelon-combo-text {
    font-size: 175%;
}

.seven-x3-combo-container {
    position: absolute;
    display: flex;
    top: 23%;
    left: 80%;
}

.seven {
    width: 40px;
    height: 40px;
}

.seven-x3-combo-text {
    font-size: 175%;
}

.seven-x4-combo-container {
    position: absolute;
    display: flex;
    top: 35%;
    left: 80%;
}

.seven {
    width: 40px;
    height: 40px;
}

.seven-x4-combo-text {
    font-size: 175%;
}